.chat-footer {
    background-color: gray;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 50px;
}

.input__message {
    position: static;
    padding: 10px 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input__message::placeholder {
    color: black;
    font-family: 'DeadBitch';
}

.record-input {
    position: absolute;
    top: -1000px;
}

.footer-badge {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-size: cover;
}

.footer-badge__emoji {
    margin-right: 20px;
    width: 40px;
    background-image: url('./img/emoji-badge2.png');
    background-position: center;
}

.media {
    display: flex;
    align-items: center;
    /* min-width: 180px; */
}

.footer-badge__audio-record {
    width: 50px;
    background-image: url('./img/audio-record-badge.png');
}

.footer-badge__video-record {
    height: 60px;
    width: 60px;
    background-image: url('./img/video-record-badge.png');
}

.recorder {
    display: flex;
    align-items: center;
}

.recorder:nth-child(n+2) {
    margin-left: 50px;
}

.controls {
    display: flex;
}

.cancel-record {
    cursor: pointer;
    color: red;
}

.cancel-record__video {}

.send-record {
    cursor: pointer;
    color: green;
}

.controls__audio {
    width: 220px;
    margin-right: 20px;
    justify-content: space-between;
}

.audio-wrapper {
    font-size: 30px;
    display: flex;
}

.audio-wrapper.hidden {
    display: none;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.controls__video {
    font-size: 40px;
    position: relative;
    top: -100px;
    right: 50px;

    width: 200px;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
}

/* #myVideoTimer {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
} */

#video {
    width: 100vw;
    height: 100vh;
}

#audio {
    position: relative;
    right: -120px;
}

#audio .vjs-control-bar .vjs-play-control {
    display: none;
}

.vjs-control-bar .vjs-record-button {
    display: none;
}

#audio .vjs-current-time {
    position: relative;
    top: 30px;
    left: -100px;
}

#audio .vjs-current-time-display {
    margin-left: 20px;
    font-size: 25px;
}

#audio .vjs-record-indicator {
    width: 1.8em;
    height: 1.8em;
    top: 9px;
    left: 35px;
}

#audio .vjs-record-indicator:after {
    top: 5px;
    left: 5px;
    width: 0.8em;
    height: 0.8em;
    line-height: 2em;
    border: 4px solid #ff625e;
    animation-duration: 1.5s;
}