.chat-footer {
    background-color: gray;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 50px;
}

.input__message {
    position: static;
    padding: 10px 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input__message::placeholder {
    color: black;
    font-family: 'DeadBitch';
}

.record-input {
    position: absolute;
    top: -1000px;
}

.footer-badge {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-size: cover;
}

.footer-badge__emoji {
    width: 40px;
    background-image: url('./img/emoji-badge2.png');
    background-position: center;
}

.media {
    display: flex;
    align-items: center;
    /* min-width: 180px; */
}

.footer-badge__audio-record {
    width: 50px;
    background-image: url('./img/audio-record-badge.png');
}

.footer-badge__video-record {
    height: 60px;
    width: 60px;
    background-image: url('./img/video-record-badge.png');
}

#myAudio {}

.recorder {
    display: flex;
    align-items: center;
}

.recorder:nth-child(n+2) {
    margin-left: 50px;
}

.controls {
    display: flex;
}

.cancel-record {
    cursor: pointer;
    color: red;
}

.send-record {
    cursor: pointer;
    color: green;
}

.controls__audio {
    width: 150px;
    margin-right: 20px;
    justify-content: space-between;
}

.video-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#myVideo {
    width: 100vw;    
    height: 100vh;
}



.back-button {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}