.header {
    height: 8%;
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.user-img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    margin-right: 150px;
}

.title {
    display: block;
    font-size: 50px;
}

.badge-list {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.header-badge {
    width: 60px;
    height: 60px;
    background-size: cover;
}

.header-badge:nth-child(n + 2) {
    margin-left: 30px;
}

.header-badge__search {
    cursor: pointer;
    background-image: url('./img/search-badge.png');
}

.input__search {
    -moz-user-select: none;
    -webkit-user-select: none;
    position: absolute;
    content: '';
    left: 45%;
    top: 100px;
    z-index: 1000;
    padding: 10px 15px;

    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.input__search::placeholder {
    color: red;
    font-family: 'DeadBitch';
    word-spacing: 20px;
}

.header-badge__pin {
    cursor: pointer;
    background-image: url('./img/pin-badge.png');
}

.header-badge__context-menu {
    background-image: url('./img/context-menu-badge.png');
}
