.info-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ustroke';
}

.info {
    z-index: 1000000;
    position: fixed;
    width: 650px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: wheat;
    border: 1px solid var(--secondary-lighter);
    display: block;
}

.info-header {
    background-color: pink;
    padding: 40px;
    border-bottom: 1px dashed var(--secondary);
    height: 115px;
}

.info-header-note {
    background-color: var(--info);
}

.info-header-error {
    background-color: var(--error);
}

.info-content {
    color: var(--red);
    padding: 40px 30px 20px 40px;
    border-bottom: 1px dashed var(--secondary);
    line-height: 25px;
}

.info-content-title {
    display: block;
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 35px;
}

.info-content-desc {
    white-space: pre-line;
    line-height: 40px;
    font-size: 24px;
    display: block;
}

.info-content-title-note {
    font-weight: 300;
}

.info-content-title-error {
    font-weight: 500;
}

.info-footer {
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-hidden {
    display: none;
}

.info-btn {
    font-size: 30px;
    font-weight: 500;
    color: var(--red);
    border: 1px solid var(--red);
    padding: 10px 65px;
}

.info-btn:hover {
    background-color: transparent;
    border: 1px solid red;
    color: red;
}
